@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  background: linear-gradient(to right, #e3f2f1, #bfd4d3);
  transition: left 0.2s linear;
}
/*empieza en encabezado*/

.container_head {
  position: relative;
  width: 85vw;
  height: 10vh;
  left: 15vw;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
.head_center .titulo {
  margin-left: 20px;
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.1rem;
}
.head_right {
  margin-right: 60px;
}
.head_right ul {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.head_right .opciones a {
  font-size: 1.5rem;
  color: #212529;
  margin: 0 20px;
}
.head_right .opciones a:hover {
  color: white;
}
.head_right ul li {
  list-style: none;
  margin-right: 10px;
}
.desplegable_vent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.desplegable_vent .medida_logo {
  width: 60px;
  height: 60px;
}
.head_right .desplegable_vent img {
  width: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/*
  -------------------------------------------------------
  ---------------Ventan ememergente de Usuario--------------
  -------------------------------------------------------
  */
.desplegable_vent .opciones_users {
  display: none;
  position: absolute;
  top: 80px;
  z-index: 500;
  margin-top: 10px;
  right: 0;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  width: 300px;
  max-height: 450px;
  height: 400px;
}
#close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.desplegable_vent .ventana_1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.ventana_1 li,
.ventana_2 li {
  margin: 0 !important;
}
.desplegable_vent .logo_user_2 {
  width: 150px;
  height: 150px;
}
.desplegable_vent .ventana_2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid #dadce0;
  gap: 10px;
}
.desplegable_vent .opciones_users {
  background-color: rgba(53, 54, 58, 0.952);
  color: #dadce0 !important;
}
.opciones_users a {
  color: #dadce0 !important;
}
.desplegable_vent ul .botton {
  border: 1px solid #dadce0;
  display: inline-block;
  white-space: normal;
  border-radius: 100px;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 6px 16px;
}
.desplegable_vent ul .botton:hover {
  background-color: rgba(156, 156, 156, 0.144);
}
.modal{
	display: none;
	position: fixed;
	z-index:1;
	overflow: auto;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.452);
}


/*empieza el aside*/
.wrapper {
  position: absolute;
  top: 0;
  margin: 0;
}

.wrapper_inner {
  position: relative;
  top: 0;
  max-width: 25vw;
  width: 15vw;

  height: 100vh;
  background: #fff;
  display: flex;
}

.vertical_wrap {
  position: relative;
  height: 100%;
}

.vertical_bar {
  width: 15vw;
  background: #3d5654;
  height: 100vh;
  position: relative;
}

.vertical_bar .profile_info {
  text-align: center;
  padding: 10px 25px;
}

.profile_info .logo_letra {
  font-family: "Sriracha", "cursive";
  font-size: 2rem;
  margin-right: 10px;
  margin-left: 20px;
}
.vertical_bar .profile_info .title {
  font-size: 20px;
  letter-spacing: 2px;
  color: #c99c33;
  font-weight: 700;
}

.vertical_bar .profile_info .sub_title {
  font-size: 14px;
  color: #fff;
}

.vertical_bar .menu {
  padding-left: 25px;
  margin-bottom: 50px;
}

.vertical_bar .menu li a {
  display: block;
  padding: 15px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-bottom: 1px;
}

.vertical_bar .menu li a .icon {
  color: #c99c33;
  width: 25px;
  display: inline-block;
}

.vertical_bar .menu li a:hover {
  background: #fff;
  color: #3d5654;
}
.vertical_bar .menu li a:focus {
  background: #fff;
  color: #3d5654;
}

.vertical_bar .social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 50px;
}

.vertical_bar .social li a {
  width: 50px;
  height: 50px;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin: 0 10px;
}

.vertical_bar .social li a:hover {
  color: #c99c33;
  background: #fff;
}

.side_container {
  width: calc(100% - 250px);
}

.side_container .top_bar {
  height: 7vh;
  background: rgba(76, 175, 80, 0);
  padding: 15px 25px;
  display: flex;
  align-items: center;
}

.top_bar .hamburger {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  display: none;
  margin-right: 25px;
}

.top_bar .logo {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c99c33;
}

.top_bar .logo span {
  color: #fff;
}

.side_container .container {
  position: relative;
  padding: 25px;
  height: 93vh;
  overflow: auto;
}

.side_container .container .item {
  background: #e3f2f1;
  padding: 50px;
  margin-bottom: 25px;
}

@media (max-width: 1322px) {
  .vertical_bar {
    width: 102%;
  }
  header .container_head {
    padding-left: 0;
    left: 15vw;
    width: 85vw;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .container_head .head_right {
    margin-bottom: 15px;
  }
  .titulo {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .top_bar .hamburger {
    display: inline-block;
  }
  .side_container .top_bar {
    background: rgba(76, 175, 80, 0);
  }
  .vertical_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    visibility: hidden;
    background-color: auto;
  }
  .wrapper_inner {
    background: rgba(0, 0, 0, 0);
  }
  .vertical_bar {
    position: absolute;
    top: 0;
    left: -100vw;
    width: 120%;
    max-width: 50vw;
    transition: left 0.2s linear;
    overflow-y: scroll;
  }
  .vertical_wrap .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .side_container {
    width: 10vw;
  }

  .wrapper.active .vertical_wrap {
    visibility: visible;
  }
  .wrapper.active .vertical_bar {
    left: 0;
    transition: left 0.2s linear;
  }
  header .container_head {
    padding-top: 5vh;
    left: -10vw;
    padding-left: 10vw;
    width: 110vw;
    flex-direction: column;
    height: 100%;
  }
  .vertical_bar .social {
    position: relative;
    bottom: 10px;
  }
  .container_head .head_right {
    width: 80vw;
  }
  nav .opciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .titulo {
    font-size: 1.5rem;
  }

  .head_right .opciones a {
    font-size: 1.2rem;
    color: #212529;
    margin: 0 20px;
  }
}

/*------------------------------------------------------------------------------------------------- 
------------------------------------contenido de main--------------------------------------------
---------------------- -----------------------------------------------------------------------*/

main {
  position: absolute;
  width: 85vw;
  height: 90vh;
  top: 10vh;
  left: 15vw;
  display: flex !important;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

main .contenido_main{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.primera_parte {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin-bottom: 5vh;
}
.card {
  min-width: 180px;
  max-width: 200px;
  min-height: 200px;
  background: #02b875;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  margin: 10px;
  box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.card:nth-child(2) {
  background: #4181ee;
}
.card:last-child {
  background: #673ab7;
}
.card-title {
  margin-top: 0;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.card-content {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.card-btn {
  all: unset;
  display: block;
  border: 2px solid #fff;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.card-btn:hover {
  color: #02b875;
  background: #fff;
}
.card:nth-child(2) .card-btn:hover {
  color: #4181ee;
  background: #fff;
}
.card:last-child .card-btn:hover {
  color: #673ab7;
  background: #fff;
}

/* tabla de usuarios */

.table {
  position: relative;
  width: 90%;
}
.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.row2{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.table_2 {
  position: relative;

  width: 100%;
}

.row2 .botones{
  display: flex;
  align-items: center;
  justify-content: center;
}
.row:hover {
  background-color: crimson;
}

.row:nth-child(even) {
  background-color: #dfdfdf;
}

.row:nth-child(even):hover {
  background-color: crimson;
}

.title {
  display: flex;
  justify-content: center;
  background-color: #dfdfdf;
}

.header .row {
  padding: 10px;
  background-color: cornflowerblue;
}

.header .row div {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: white;
}

.body .row {
  padding: 10px;
  cursor: pointer;
}
.body .row img{
  width: 20px;
}
.body .row div {
  display: flex;
  justify-content: center;
}

.footer .row {
  padding: 5px;
  background-color: #777777;
}

.footer .row div {
  display: flex;
  justify-content: center;
  color: white;
}

.options {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.page-active {
  color: crimson;
}





